<!--<pre>{{orar|json:4}}</pre>-->

<div id="page-wrap">
    <button class="btn btn-primary pull-right" ng-click="add()">Adauga in orar</button>

    <form class="form-inline">
        <select class="form-control" ng-model="filters.sapt" ng-options="sapt.id as sapt.nume for sapt in saptamani">
            <option value="">Saptamani...</option>
        </select>
    </form>

    <table class="standard">
        <tr>
            <th ng-if="!filters.sapt">Saptamana</th>
            <th>Zi</th>
            <th>Ora
            <th>Sala</th>
            <th>Curs</th>
            <th>Laborator</th>
            <th>Seminar</th>
            <th>Actiuni</th>
        </tr>
        <tr ng-repeat="ora in orar">
            <td ng-if="!filters.sapt">{{ora.saptamana}}</td>
            <td>{{ora.zi}}</td>
            <td>{{ora.ora_start}} - {{ora.ora_sf}}</td>
            <td>{{ora.sala}}</td>
            <td>{{ora.curs_nume}}</td>
            <td>{{ora.lab_nume}}</td>
            <td>{{ora.sem_nume}}</td>
            <td class="act">
                <a href ng-click="delete(ora.id)">
                    <i class="fa fa-times-circle"></i>
                </a>
                <a href ng-click="edit(ora)">
                    <i class="fa fa-pencil-square"></i>
                </a>
            </td>
        </tr>
    </table>
</div>