<form>
    <div class="form-group">
        <label>Nume:</label>
        <input type="text" class="form-control" ng-model="profesor.nume" >
    </div>
    <div class="form-group">
        <label>Prenume:</label>
        <input type="text" class="form-control" ng-model="profesor.prenume" >
    </div>

</form>

<button class="btn btn-default" ng-click="$dismiss()">Inapoi</button>
<button class="btn btn-primary" ng-click="add()" ng-show="!profesor.id">Adauga</button>
<button class="btn btn-primary" ng-click="save()" ng-show="profesor.id">Salveaza</button>
<br><pre>{{profesor|json:4}}</pre>