cuuuuurrrssss

<div id="page-wrap">
    <button class="btn btn-primary pull-right" ng-click="add()">Adauga curs</button>
    <table class="standard">
        <tr>
            <th>Curs</th>
            <th>Materie</th>
            <th>Profesor</th>
            <th>Sectie</th>
            <th>Serie</th>
            <th>Actiuni</th>
        </tr>
        <tr ng-repeat="curs in cursuri">
            <td>{{curs.nume}}</td>
            <td>{{curs.mat_nume}}</td>
            <td>{{curs.prof_nume}}
                {{curs.prof_pren}}
            </td>
            <td>{{curs.sc_nume}}</td>
            <td>{{curs.ser_nume}}</td>
            <td class="act">
                <a href ng-click="delete(curs.id)">
                    <i class="fa fa-times-circle"></i>
                </a>
                <a href ng-click="edit(curs)">
                    <i class="fa fa-pencil-square"></i>
                </a>
            </td>
        </tr>
    </table>
</div>