<!--<table class="standard">-->
    <!--<tr>-->
        <!--<th>Cursuri</th>-->
    <!--</tr>-->
    <!--<tr ng-repeat="curs in cursuri">-->
        <!--<td><a ui-sref="curs({id: curs.id})">{{curs.nume}} ({{curs.mat_abr}})</a></td>-->
    <!--</tr>-->
<!--</table>-->

<!--<table class="standard">-->
    <!--<tr>-->
        <!--<th>Laboratoare</th>-->
    <!--</tr>-->
    <!--<tr ng-repeat="lab in laboratoare">-->
        <!--<td><a ui-sref="laborator({id: lab.id})">{{lab.nume}} ({{lab.mat_abr}})</a></td>-->
    <!--</tr>-->
<!--</table>-->

<!--<table class="standard">-->
    <!--<tr>-->
        <!--<th>Seminarii</th>-->
    <!--</tr>-->
    <!--<tr ng-repeat="sem in seminarii">-->
        <!--<td><a ui-sref="seminar({id: sem.id})">{{sem.nume}} ({{sem.mat_abr}})</a></td>-->
    <!--</tr>-->
<!--</table>-->
<div my-orar></div>
<!--<pre>{{orarZiOra|json:4}}</pre>-->
