<h1>{{seminar.nume}}</h1>

<div id="page-wrap">
    <h3>Suport seminar</h3>
    <table class="table table-striped">
        <tr ng-repeat="fisier in fisiere | filter:{tip:'suport'}">
            <td>
                <a target="_blank" href="{{fisier.url}}">{{fisier.nume}}</a>
            </td>
            <td class="act col-md-3 col-md-offset-3">
            <button type="button" class="btn btn-danger" ng-click="delete(fisier.id)">Sterge</button>
            <button type="button" class="btn btn-primary" ng-click="edit(fisier)">Editare</button>
            </td>
        </tr>
    </table>
    <button class="btn btn-primary" ng-click="openFilePopup('suport')" ng-show="1 || USER.role==='profesor'">Adauga fisier</button>

    <h3>Note</h3>
    <table class="table table-striped">
        <tr ng-repeat="fisier in fisiere | filter:{tip:'note'}">
            <td>
                <a target="_blank" href="{{fisier.url}}">{{fisier.nume}}</a>
            </td>
            <td class="act col-md-3 col-md-offset-3">
                <button type="button" class="btn btn-danger" ng-click="delete(fisier.id)">Sterge</button>
                <button type="button" class="btn btn-primary" ng-click="edit(fisier)">Editare</button>
            </td>
        </tr>
    </table>
    <button class="btn btn-primary" ng-click="openFilePopup('note')" ng-show="1 || USER.role==='profesor'">Adauga fisier</button>
</div>


