<div id="page-wrap">

    <form class="form-inline">
        <select class="form-control" ng-model="filters.f" ng-options="f.id as f.nume for f in facultati">
            <option value="">Facultate...</option>
        </select>

        <select class="form-control" ng-model="filters.sc" ng-options="sc.id as sc.nume for sc in sectii" ng-disabled="!filters.f">
            <option value="">Sectie...</option>
        </select>
    </form>


    <table class="standard">
        <tr>
            <th ng-if="!filters.f">Facultate</th>
            <th  ng-if="!filters.sc">Sectie</th>
            <th>Serie</th>
            <th>Grupe</th>
        </tr>
        <tr ng-repeat="serie in serii">
            <td ng-if="!filters.f">{{serie.fac_nume}}</td>
            <td  ng-if="!filters.sc">{{serie.sc_nume}}</td>
            <td>{{serie.nume}}</td>
            <td><a ui-sref="grupe({ser: serie.id})">Vezi grupe</a></td>
        </tr>
    </table>
    xxx{{filters}}
</div>