<div id="page-wrap">

    <form class="form-inline">
        <select class="form-control" ng-model="filters.f" ng-options="f.id as f.nume for f in facultati">
            <option value="">Facultate...</option>
        </select>

        <select class="form-control" ng-model="filters.sc" ng-options="sc.id as sc.nume for sc in sectii" ng-disabled="!filters.f">
            <option value="">Sectie...</option>
        </select>

        <select class="form-control" ng-model="filters.ser" ng-options="ser.id as ser.nume for ser in serii" ng-disabled="!filters.sc">
            <option value="">Serie...</option>
        </select>

        <select class="form-control" ng-model="filters.gr" ng-options="gr.id as gr.nr_grupa for gr in grupe" ng-disabled="!filters.ser">
            <option value="">Grupa...</option>
        </select>

        <select class="form-control" ng-model="filters.sem" ng-options="sem.id as sem.nr_semigrupa for sem in semigrupe" ng-disabled="!filters.gr">
            <option value="">Semigrupe...</option>
        </select>
    </form>

    <table class="standard">
        <tr>
            <th ng-if="!filters.f">Facultate</th>
            <th ng-if="!filters.sc">Sectie</th>
            <th ng-if="!filters.ser">Serie</th>
            <th ng-if="!filters.gr">Grupa</th>
            <th ng-if="!filters.sem">Semigrupa</th>
            <th>Nume</th>
            <th>Prenume</th>
        </tr>
        <tr ng-repeat="student in studenti">
            <td ng-if="!filters.f">{{student.fac_nume}}</td>
            <td ng-if="!filters.sc">{{student.sc_nume}}</td>
            <td ng-if="!filters.ser">{{student.ser_nume}}</td>
            <td ng-if="!filters.gr">{{student.gr_nr}}</td>
            <td ng-if="!filters.sem">{{student.sem_nr}}</td>
            <td>{{student.nume}}</td>
            <td>{{student.prenume}}</td>
        </tr>
    </table>
</div>