<table class="calendar table table-bordered">
    <thead>
    <tr>
        <th>Ora</th>
        <th width="20%">Luni</th>
        <th width="20%">Marti</th>
        <th width="20%">Miercuri</th>
        <th width="20%">Joi</th>
        <th width="20%">Vineri</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="ora in [8,9,10,11,12,13,14,15,16,17,18,19,20]">
        <td>{{ora}}</td>
        <td class="ora" ng-repeat="zi in [1,2,3,4,5]">
            <div ng-repeat="ozo in orarZiOra[zi+'-'+ora]" title="{{ozo.prof_nume}} - sala {{ozo.sala}}"
                 style="
                border-left-style: {{ozo.saptamana === 1 ? 'solid' : ozo.saptamana === 2 ? 'double' : 'dotted'}};
                top: -1px;
                height: calc({{ozo.durata}}00% + {{ozo.durata+1}}px);
                width: calc({{100/orarZiOra[zi+'-'+ora].length}}% + 1px);
                left: calc({{$index*100/orarZiOra[zi+'-'+ora].length}}% - 1px)"
            >

                <div class="paritate{{ozo.saptamana}}"></div>
                <a ng-if="ozo.id_curs" ui-sref="curs({id: ozo.id_curs})">curs <b>{{ozo.abr}}</b></a>
                <a ng-if="ozo.id_sem" ui-sref="seminar({id: ozo.id_sem})"><i>sem</i> {{ozo.abr}}</a>
                <a ng-if="ozo.id_lab" ui-sref="laborator({id: ozo.id_lab})"><i>lab</i> {{ozo.abr}}</a>
                <small>{{ozo.prof_nume}}</small>

                <div>sala: {{ozo.sala}}</div>
            </div>
        </td>
    </tr>

    </tbody>
</table>